<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/front.js" defer></script>
</head>

<body>
    <!--Header-->
    <%- include("partials/header") %>
    <!--/Header-->
    <section class="container1">
        <a class="redireccion red1" href="/productos/detalle/<%= productos[0].id %>">
            <div class="cards">
                <img src="/images/Moto-E20.png" alt="">
                <h4><%= productos[0].name %></h4>
                <h4><%= productos[0].price %></h4>
            </div>
        </a>
        <a class="redireccion red2" href="/productos/detalle/<%=productos[1].id %> ">
            <div class="cards">
                <img src="/images/Monitor-Curvo.png" alt="">
                <h4><%= productos[1].name %></h4>
                <h4><%= productos[1].price %></h4>
            </div>
        </a>
        <a class="redireccion red3" href="/productos/detalle/<%= productos[2].id %>">
            <div class="cards">
                <img src="/images/Procesador.png" alt="">
                <h4><%= productos[2].name %></h4>
                <h4><%= productos[2].price %></h4>
            </div>
        </a>
    </section>
    <!--<h1>Listado de Productos</h1>
    <ul>
        <% productos.forEach(producto=> { %>
            <li><%= producto.name %> - <%= producto.price %>  </li>
        <% }) %>
    </ul>-->
</body>

</html>